# Dependencies
node_modules/
package-lock.json

# Build
dist/
build/

# Environment
.env
.env.local
.env.*.local

# Uploads (archivos subidos localmente)
uploads/

# Logs
logs/
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage/
.nyc_output/

# Misc
*.tmp
*.temp
.cache/
